$color-grey1: #fafafa;
$color-black: #000000;
$color-white: #FFFFFF;
$color-dark-blue: #282d59;
$color-ecru: #eee4d2;
$color-cloud-grey: #afa6a3;
$color-deep-blue: #4f606f;
$color-sage-green: #8c9b94;
$color-kaki-green: #4c5542;
$color-terracotta: #b44737;
$color-yellow: #fab200;